bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-journal
*.DS_Store
*.log
*.vs/*
**/bin/
**/obj/
API/appsettings.json
Persistence/Persistence/Migrations/20260419084145_InitialCreate.cs
Persistence/Persistence/Migrations/20260419084145_InitialCreate.Designer.cs
